$gutter: 1rem;
$spacing: 0.4rem;
$max-content-width: 60rem;

$brand-primary: #bb0107;
$brand-secondary: #bb9c31;
$brand-offset: #858585;
$brand-background: #121216;
$brand-light-backrground: lighten($brand-background, 10%);

// $brand-primary: black;
// $brand-secondary: black;
// $brand-offset: red;
//
// $brand-background: white;
