{{outlet}}

<nav class="dashboard">
  <div class="dashboard__inner-container">
    <div class="dashboard__fields">
      <div class="dashboard__me">
        <h1 class="dashboard__me__name">John Whittenburg</h1>
        <div class="dashboard__me__info">
          <a href="mailto:jawhittenburg@gmai.com" class="dashboard__contact">jawhittenburg@gmail.com</a>
          <a href="tel:615-972-9295" alt="Dialer" class="dashboard__contact">615-972-9295</a>
        </div>
      </div>
      {{!-- <div class="dashboard__me__title-wrapper">
        <h4 class="dashboard__me__title">Web Developer</h4>
      </div> --}}
    </div>
    <div class="dashboard__fields">
      <a href="dashboard.about" class="dashboard__nav-links">About</a>
      <a href="dashboard.contact" class="dashboard__nav-links">Contact</a>
    </div>
  </div>
</nav>
